@font-face {
    font-family: 'Amatic SC';
    src: url('Amatic_SC_trans/AmaticSC-Regular.woff2') format('woff2'),
        url('Amatic_SC_trans/AmaticSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amatic SC';
    src: url('Amatic_SC_trans/AmaticSC-Bold.woff2') format('woff2'),
        url('Amatic_SC_trans/AmaticSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura BT W01 Light";
    src: url("BTFUtura/FuturaBTW01Light/Futura\ BT\ W01\ Light.woff2") format("woff2"), /* chromeã€firefox */
        url("BTFUtura/FuturaBTW01Light/Futura\ BT\ W01\ Light.woff") format("woff");
}

body{
    background-color: #eaeaea;
    /* display: table-cell; */
    vertical-align: middle;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin:0;
}
.header{
    height: 4.5rem;
    width:85%;
    left: 50%;
    transform: translateX(-50%);
    /* width: 85%; */
    /* min-width: 85%; */
    display: block;
    align-items: center;
    justify-content: center;
    z-index: 12;
    position:relative;
    border-bottom: 1px solid #101010 ;
}

header{
    background-color: white;
    display: flex;
    height: 100%;
    align-items: baseline;
    padding: 0 0 0 .5rem;
    gap: 1rem;
    position: relative;
}

.shown{
    /* display: inline-block; */
    align-items: baseline;
    justify-content: right;
    margin-top: 0;
    position: fixed;
    border-bottom: 1px solid #101010 ;
}

.logo{
    position: relative;
    align-self: center;
}
.buttons{
    display: inline-block;
    position: relative;
    height: 100%;
    align-items: baseline;
    margin-left: auto;
    margin-right: .5rem;
    gap: 1rem;
}
.link {
    display: inline-block;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1.4rem;
}

.link a{
    font-family: 'Amatic SC'; font-weight:normal; font-style: normal;
    width: 100%;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.link:hover{
    background-color: #e4e4e4;;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.dropdown{
    position: relative;
    display: inline-block;
    height: 100%;
}

.dropdown_menu{
    position: absolute;
    width: max-content;
    display:flex;
    flex-direction: column;
    left: 0;
    top: calc(100%);
    background-color: white;
    opacity: 0;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
}

.dropdown:hover .link{
    background-color: #e4e4e4;
}
.dropdown_menu a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
    padding: 1rem 1rem;
    font-family: 'Amatic SC'; font-weight:normal; font-style: normal;
    font-size: 25px;
    cursor: pointer;
}

/* .dropdown > .link:hover + .dropdown_menu {
    opacity: 1;
    pointer-events: auto;
    background-color: #e4e4e4;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
} */

.dropdown:hover .dropdown_menu{
    opacity: 1;
    pointer-events: auto;
    background-color: #e4e4e4;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.dropdown .dropdown_menu a:hover{
    background-color: white;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.emojis{
    position: relative;
    display: flex;
    margin-right: 1rem;
}

.fa-brands{
    margin: 5px;
    width: 20px;
    color: black;
}


/* ----------------------------END OF HEADER----------------------------  */

.slider-container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
}

.fa-solid{
    position: absolute;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    transition:1s;
}

.fa-solid:hover {
    opacity: 1;
}

.fa-solid.fa-chevron-down{
    color: black;
    position: relative;
    /* bottom: 50%; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
}
.circle-container{
    display: inline-block;
    position: absolute;
    left: 50%;
    width: max-content;
    transform: translateX(-50%);
    bottom: 7px;
}

.fa-circle{
    font-size: 15px;
    margin: 5px;
    position: relative;
    transition: 0.5s;
}
  
.arrow{
font-size: 50px;
top: 50%;
transform: translateY(-50%);
}

.fa-angle-left {
left: 10px;
}

.fa-angle-right {
right: 10px;
}
  
p{
    font-size: 40px;
}

.texts{
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
}
.text{
    text-align: center;
    color: white;
    text-shadow: black 0.5rem 0 1.5rem;
}

.texts h1{
    display: inline-block;
    font-size: 280%;
}

.texts h2{
    font-size: 150%;
}

.texts .slider-butt {
    font-size: 100%;
    padding: 3% 5%;
}

.slider-butt{
    position: relative;
    width: max-content;
    height: max-content;
    border-style: none;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d2cece;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 1s;
    cursor: pointer;
}

.slider-butt:hover{
    background-color: #e4e4e4;
}


.image-container{
    width: 100%;
    aspect-ratio: 160/59;
    position: relative;
    overflow: hidden;
}

.slide{
    width: 100%;
}

.mySlides{
    display:none;
}

.first{
    display: block;
}

.active{
    opacity: 1;
    /* -webkit-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear; */
}

/* ----------------------------END OF SLIDER----------------------------  */
/* ----------------------------START OF ABOUT----------------------------  */

.whitespace, .recipies_header {
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    display:grid;
    justify-content: center;
    position: relative;
    background-color: white;
    margin: 0px;
    font-family: "Futura BT W01 Light", Arial, sans-serif;
}

.recipies_header {
    padding-bottom: 40px;
}

.whitespace p,  h2, .recipies_header p{
    text-align: center;
}

h2{
    font-size: 25px;
    color: #101010;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
}

.whitespace p, .recipies_header p{
    padding: 0px 100px;
    font-size: 20px;
}

.underline{
    width: 250px;
    height: 2px;
    background-color: #b2bebe;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1px;
    margin-bottom: 20px;
}

.about button{
    width: max-content;
    height: max-content;
    padding: 15px 30px;
    font-size: 20px;
    position: relative;    
    left: 50%;
    transform: translateX(-50%);
    background-color: #494949;
    border-style: none;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
    margin-bottom: 40px;
    margin-top: 30px;
    font-family: "Futura BT W01 Light", Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.about button:hover{
    background-color: #272727;
    /* -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear; */
}

/* ----------------------------END OF ABOUT----------------------------  */
/* ----------------------------START OF RECIPIES----------------------------  */

.view_recipe{
    content: "VIEW RECIPE";
}

.food_image{
    aspect-ratio: 2/1;
    display: inline-block;
    width: 100%;
}
.recipe{
    width: 40%;
    position: relative;
}

.recipies_links{
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    position: relative;
    background-color: white;
    margin: 0px;
    font-family: "Futura BT W01 Light", Arial, sans-serif;
}

.view_recipe_button{
    width:max-content;
    height:max-content; 
    padding: 15px 30px;
    font-size: 20px;
    display: inline-block;

    position: relative;
    left: 50%;
    top:auto;
    margin-top: 50px;
    margin-bottom:50px;;

    /* position:absolute;
    bottom: 5px;
    left: 50%;
     */
    transform: translateX(-50%);

    margin-top: 20px;
    background-color: #494949;
    border-style: none;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
    font-family: "Futura BT W01 Light", Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.bot{
    top: 40px;
}

.view_recipe_button:hover{
    background-color: #272727;
}

.recipies_links p{
    font-size: 18px;
}

.recipies_links h3{
    font-size: 25px;
}

/* ----------------------------END OF RECIPIES----------------------------  */
/* ----------------------------START OF BARS----------------------------  */

.fa-bars{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 250%;
}

.sidebar{
    display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* display: inline-flex; */
    width: 85%;
    background-color: #101010;
    color: white;
    text-decoration: none;
    font-family: 'Amatic SC'; font-weight:normal; font-style: normal;
    font-size: 25px;
}


/* ----------------------------END OF SIDE BARS----------------------------  */
/* ----------------------------START OF RESIZING----------------------------  */


@media screen and (max-width: 1740px) {
    /* .header{
        width: 100%;
    } */
  .link a{
      font-size: 20px;
  }

  .link {
    padding: 0 1rem;
}

.texts h1{
    display: inline-block;
    font-size: 240%;
}

.texts h2{
    font-size: 110%;
}

.texts .slider-butt {
    font-size: 90%;
    padding: 2.7% 4.5%;
}

}

@media screen and (max-width: 1490px) {
    /* .header{
        width: 100%;
    } */
  .link a{
      font-size: 18px;
  }
  .link {
    padding: 0 0.7rem;
}
.texts h1{
    display: inline-block;
    font-size: 240%;
}

.texts h2{
    font-size: 100%;
}

.texts .slider-butt {
    font-size: 85%;
    padding: 2.5% 4.3%;
}


}


@media screen and (max-width: 1345px) {
    /* .header{
        width: 100%;
    } */
  .link a{
      font-size: 18px;
  }

  .link {
    padding: 0 0.4rem;
}

}

@media screen and (max-width: 1250px) {
.main{
    display: none;
}

}

.picture{
    margin-bottom: 50px;
    aspect-ratio: 170/232;
    aspect-ratio: 1/1;

    width: 30%;
    object-fit: cover;
    border: solid #f2f3f0 20px;
    border-bottom: solid #f2f3f0 25px;
    box-shadow: 8px 8px 10px #93a29b;
    transform: rotateX(45deg);
}